h1 Hello Express
h2= title

style
   body {background : navajowhite}
   ul { background : darkred}
   h1 {background : darkred}
   h2 { background : darkred}
ul#nav
    li.current one
    li two

p I want to plauy cricket

p I love volleyball
    a(href = "/other" , rel = no follower) go to other

